<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp <span id="year"></span> </span>
    </div>
</footer>
            
<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>